<style>
    #content {
    }
    
    .messages {
        font-size: 0.8em;
        border: 1px solid;
        padding: 1rem;
        margin: 0.5rem;
    }
    
    #neg-message {
        background: #ffbaba;
        color: #d8000c;
    }
    
    #pos-message {
        background: #dff2bf;
        color: #4f8a10;
    }
    
    .row .col.right {
        text-align: right;
    }
    
    
    #app-container {
        text-align: left;
        
        display: inline-block;
        vertical-align: middle;
        
        width: 100%;
        max-width: 30rem;
        
        color: #fff;
        
        font-size: 1.2rem;
    }
    
    #app-container .container {
        padding: 1rem;
    }
    
    #app-container .container .row {
        padding: 0.5rem;
    }
    
    #app-container .container .col {
        vertical-align: middle;
    }
    
    #app-container .container .left.col {
        width: 10rem;
        font-weight: 500;
    }
    
    #app-container select,
    #app-container input,
    #app-container button {
        border: 0;
        background: #fff;
        color: #000;
        padding: 0.3rem;
        
        width: 100%;
    }
      
    
    #links {
        color: rgba(0,0,0,0.5);
        margin: 1rem;
    }
    
    #links a {
        color: inherit;
        text-decoration: none;
    }
    
    
    html.large #content:before {
        content: '';
        display: inline-block;
        height: 90%;
        vertical-align: middle;
    }
</style>
<div id="content" tabindex="0">
    <div id="hero">
        <div class="blocks" style="width: auto;">
            <h1>Repositories</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 1.5rem;">
    </div>
     <div id="app-container">
        <div class="container bg-rg-dark-blue" >
            <div id="message-container">
                <div class="messages" id="neg-message"></div>
                <div class="messages" id="pos-message"></div>
            </div>
            <form id="create-formRC" method="post">
                <div class="row">
                    <div class="left col">
                        <label for="id_title">Title</label>
                    </div>
                    <div class="col">
                        <input id="id_title" type="text" name="title" placeholder="Title">
                    </div>
                </div>
                <div class="row">
                    <div class="left col">
                        <label for="id_body">Body</label>
                    </div>
                    <div class="col">
                        <input id="id_body" type="text" name="body" placeholder="Body">
                    </div>
                </div>
                <div class="row">
                    <div class="left col">
                        <label for="id_tags">Tags</label>
                    </div>
                    <div class="col">
                        <input id="id_tags" type="text" name="tags" placeholder="Tags">
                    </div>
                </div>
                <div class="row">
                    <div class="left col">
                        <label for="id_service">Service</label>
                    </div>
                    <div class="col">
                    	<select id="id_service" name="service">
  							<option value="10">Managers of your Robogals chapter</option>
  							<option value="20">Everyone in your Robogals chapter</option>
  							<option value="50">All Robogals chapters</option>
  							<option value="99" selected >Public</option>
						</select>
                    </div>
                </div>
                <div class="row">
                    <div class="right col">
                        <input id="rc_create" class="bg-rg-dark-green mobile-width-100" type="submit" value="Create">
                    </div>
                </div>
            </form>
            
            <form id="create-formRF" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="left col">
                        <label for="id_name">Name</label>
                    </div>
                    <div class="col">
                        <input id="id_name" type="text" name="name" placeholder="Name">
                        <input id="id_container" type="hidden" name="container" value="1">
                    </div>
                </div>
                <div class="row">
                    <div class="left col">
                        <label for="id_file">File</label>
                    </div>
                    <div class="col">
                        <input id="id_file" type="file" name="file" placeholder="File">
                    </div>
                </div>
                <div class="row">
                    <div class="right col">
                        <input id="create" class="bg-rg-dark-green mobile-width-100" type="submit" value="Create">
                    </div>
                </div>
            </form>

            
        </div>
    </div>
    <div class="row" style="margin-top: 1.5rem;">
            <div class="col" id="rcl-detail" style="background: #fff; padding: 1.6rem; font-size: 1.2em;"></div>
    </div>
    <div class="row" id="links">
        <div class="col"><a href="http://localhost:3000/?app=repo-files"><i class="fa fa-reply"></i> Return to robogals.org</a></div>
    </div>
    
</div>
<script>
    (function(){
        var resourceName = "repo";
        var appName = "Repo";
    
        var u = myRG.userStore;
        var a = myRG.appStore;
        var f = myRG.functions;
        var jq = myRG.jq;
        
        //Set global variable for RC and RF
        var rc_id = "";
        var rc_length = "2";
        var rc_page = "0";
        var rc_tot_list = "";
       
        
        // Grab jQuery objects from DOM elements
        jq.rcldetail = $("#rcl-detail");
        jq.rcbutton = $("#rc_create");
        
        var curr_state = f.fetchStateData();
        
        // Set body style classes
        a.set("BODY_CLASS", 
            [
                "header-enabled",
                "menu-enabled",
                "stage-enabled"
            ]);
        
        // Common elem
        var el = a.set("JQELEM",{});
		//RC Form
		el.title = $("#id_title");
        el.body = $("#id_body");
        el.tags = $("#id_tags");
        el.service = $("#id_service");
        //RF Form
        el.name = $("#id_name");
        el.file = $("#id_file");
        el.container = $("#id_container");

        
        function hideMessages() {
            $(".messages").hide();
        }
        
        function showMessage(html, type) {
            hideMessages();
            $("#"+type+"-message").html(html).show();
        }
        
        //API
        f.fetchMyRCL = function(rc_id,rc_length,rc_page){
        	var api_data_rcl = {
                    	"pagination": 
                    		{
    							"length": rc_length,
    							"page": rc_page
  							},
  						"query": 
  							[
    							{
      							"field": "id",
      							"search": rc_id
    							},
    							{
      							"field": "title"
    							},
    							{
      							"field": "body"
    							},
    							{
      							"field": "tags"
    							},
    							{
      							"field": "service"
    							},
    							{
      							"field": "date_created"
    							},
    							{
      							"field": "date_updated"
    							}
  							]
                		} 
            return f.fetchAPI("/api/1.0/repocontainers/list",api_data_rcl,"POST",true);
    	}
    	
    	f.fetchCreateMyRC = function(api_data){
            return f.fetchAPI("/api/1.0/repocontainers/create",api_data,"POST",true);
    	}
    	
    	f.fetchUpdateMyRC = function(api_data){
            return f.fetchAPI("/api/1.0/repocontainers/edit",api_data,"POST",true);
    	}
    	
    	f.deleteMyRC = function(api_data){
    		var del_api_data = {
                    	"id": [ 
                    			api_data
  							]
                		}
            return f.fetchAPI("/api/1.0/repocontainers/delete",del_api_data,"POST",true);
    	}
    	
    	f.fetchMyRFL = function(container_id){
        	var api_data_rfl = {
                    	"pagination": 
                    		{
    							"length": 10,
    							"page": 0
  							},
  						"query": 
  							[
    							{
      							"field": "container",
      							"search": container_id
    							},
    							{
      							"field": "name"
    							},
    							{
      							"field": "file"
    							}
  							]
                		}
            return f.fetchAPI("/api/1.0/repofiles/list",api_data_rfl,"POST",true);
    	}
    
        //call listing function and show them on the interface
        function setupRepo(rcid,rclength,rcpage){
        	var rcl = f.fetchMyRCL(rcid,rclength,rcpage);
        	$('#create-formRC').show();
        	$('#create-formRF').hide();
        	rcl 
            	.done(function(rclistdata){
            		rc_tot_list = rclistdata.meta.size;
            		rc_length = rclength;
                    rc_page = rcpage;
                    jq.rcldetail.text("");
            		jq.rcldetail.append("<div class='top_navigation' align='center' ><a class='rc_previous' href='#'><<</a> || <a class='rc_next' href='#'>>></a></div>");
                	for (i = 0; i < rc_tot_list; i++) { 
                		var no = (rc_page*rc_length) + i + 1;
                		jq.rcldetail.append(
    							"<div class='info_rcl'>"
    							+ no 
    							+ ". <b><a class='rfl_link' href='#"+rclistdata.rcl[i].id+"'>" 
    							+ rclistdata.rcl[i].data.title +"</a></b>"
    							+ "</a> by " 
    							+ rclistdata.rcl[i].user[0].username
    							+ "</br> content: "
    							+ rclistdata.rcl[i].data.body
    							+ "</br> tags: <i>"
    							+ rclistdata.rcl[i].data.tags
    							+ "</i></br> created: "
    							+ rclistdata.rcl[i].data.date_created
    							+ ", updated: "
    							+ rclistdata.rcl[i].data.date_updated
    							+ "</br> <a class='rcl_edit' href='#"+rclistdata.rcl[i].id+"'>edit</a> "
    							+ "| <a class='rcl_delete' href='#"+rclistdata.rcl[i].id+"'>delete</a> "
    							+ "</div></br>"
    							);
					}
            	})
            }
        
        //call listing function for repo file based on container_id
    	function getListFile(rcid){
    		var rfl = f.fetchMyRFL(rcid);
        
    		rfl 
            	.done(function(rflistdata){
                	$('#create-formRC').hide();
                	$('#create-formRF').show();
                	jq.rcldetail.text("");
                	for (i = 0; i < rflistdata.meta.size; i++) { 
                
                		jq.rcldetail.append(
    						i+1 
    						+ ". <a href='media/"+rflistdata.rfl[i].data.file+"'>" 
    						+ rflistdata.rfl[i].data.name 
    						+ "<a> in " 
    						+ rflistdata.rfl[i].data.container
    						+ "</br> file address: "
    						+ rflistdata.rfl[i].data.file
    						+ "</br></br>"
    						);
					} 
					//jq.rfldetail.append(JSON.stringify(author));
				
            	})
    	}
        
        //event to open RF based on RC id 
        $(document.body).on('click', 'a.rfl_link', function(){
  			rc_id = $(this).attr('href').slice(1, $(this).attr('href').length);		
  			getListFile(rc_id);
        });
        
        //event to trigger RC delete link
        $(document.body).on('click', 'a.rcl_delete', function(){
        	rc_id = $(this).attr('href').slice(1, $(this).attr('href').length);
        	var api_rcDelete = f.deleteMyRC(+rc_id);
        	api_rcDelete
                .done(function(){
                    f.loadApp("repo");
                })
        });
        
        //event to trigger RC edit link
        $(document.body).on('click', 'a.rcl_edit', function(){
        	rc_id = $(this).attr('href').slice(1, $(this).attr('href').length);
        	//alert(rc_id+" | "+rc_length+" | "+rc_page);
        	var api_rcEdit = f.fetchMyRCL(rc_id,rc_length, "0");
        	api_rcEdit
                .done(function(RCbasedID){
                    //f.loadApp("repo");
                    el.title.val(RCbasedID.rcl[0].data.title);
        			el.body.val(RCbasedID.rcl[0].data.body);
        			el.tags.val(RCbasedID.rcl[0].data.tags);
        			el.service.val(RCbasedID.rcl[0].data.service);
        			jq.rcbutton.val("Update");
                })
        });
        
        //Navigation page RC
        $(document.body).on('click', 'a.rc_previous', function(){
        	rc_id = "";
        	rc_page = rc_page - 1;
        	if (rc_page < 0){rc_page = "0"}
        	jq.rcldetail.text("");
        	//alert(rc_id+" | "+rc_length+" | "+rc_page);
        	setupRepo(rc_id,rc_length,rc_page);
        });
        
        $(document.body).on('click', 'a.rc_next', function(){
        	rc_id = "";
        	rc_page = +rc_page + 1;
        	var max_rc_page = Math.round(+rc_tot_list/2)-1;
        	if (rc_page > max_rc_page){rc_page = max_rc_page}
        	jq.rcldetail.text("");
        	//alert(rc_id+" | "+rc_length+" | "+rc_page);
        	setupRepo(rc_id,rc_length,rc_page);
        });
        
        // Create form for Repo container
        $("#create-formRC").submit(function(e){
            e.preventDefault();
            
            //f.setTray("Loading...","indeterminate",false);
            
            hideMessages();
            
            
            
            if (jq.rcbutton.val() == "Create"){ 
            	var api_data_createRC = {
  					"rc": [
    					{
      					"data": {
        					"user": u.get("WHOAMI_XHR").responseJSON.user.id,
        					"role": u.get("MYROLES_XHR").responseJSON.role[0].id,
        					"title": el.title.val(),
        					"body": el.body.val(),
        					"tags": el.tags.val(),
        					"service": el.service.find(":selected").attr('value')
      						},
      					"nonce": "1"
    					}
  					]
				}			
            	//alert(JSON.stringify(api_data_createRC));               
            	var api_rcCreate = f.fetchCreateMyRC(api_data_createRC);
            } else {
            
            	var api_data_createRC = {
  					"rc": [
    					{
      					"data": {
        					"user": u.get("WHOAMI_XHR").responseJSON.user.id,
        					"role": u.get("MYROLES_XHR").responseJSON.role[0].id,
        					"title": el.title.val(),
        					"body": el.body.val(),
        					"tags": el.tags.val(),
        					"service": el.service.find(":selected").attr('value')
      						},
      					"id": rc_id
    					}
  					]
				}
				//alert(JSON.stringify(api_data_createRC));
				var api_rcCreate = f.fetchUpdateMyRC(api_data_createRC);
			}
            //jq.rcldetail.append(JSON.stringify(api_data_createRC));
            
            api_rcCreate
                .done(function(){
                    //f.loadApp("repo");
                    f.closeTray();
                    f.loadApp("repo");
                    //showMessage("Repository Container created successfully","pos");
                    
                    
                })
                .fail(function(xhr){
                    f.closeTray();
                    showMessage("Repository Container created failed.<br><br>Please try again.","neg");
                });
            
        });
        
        // URL generators
   		f.generateAPImultipart = function(endpoint, isInternal) {
        	var url = endpoint.replace(/^\/|\/$/g, '');

        	if (isInternal){
            	return "/" + url;
        	}
        
        	return s.get("API_ROOT_URL") + url + ".multipart";
    	}
        
        // API and resource calls
    	f.uploadFORM = function(endpoint, data, type, isInternal){
        	var data = data || {};
        	var type = type || "POST";
        
        	var data_obj = {
                        contentType: 'multipart/form-data; boundary=BoUnDaRyStRiNg',
                        type: type
                       }
                       
        	if (!csrfSafeMethod(type)){
            	data_obj.data = JSON.stringify(data);
        	}
        
        	return $.ajax(f.generateAPImultipart(endpoint, isInternal), data_obj);
    	}
        
        // upload file to RepoFile based container_id
        $("#create-formRF").submit(function(e){
            el.container.val(rc_id);
        	http://portfolio.planetjon.ca/2014/01/26/submit-file-input-via-ajax-jquery-easy-way/
        	$.ajax({
            	type: "POST",
            	url: "api/1.0/repofiles/create",
            	data: new FormData(this),//datastring,
            	processData: false,
      			contentType: false,
            	success: function(data) {
                 	//alert(data);
            	}
        	});
        	e.preventDefault();
        	getListFile(rc_id)
        });

		//set initial repo environment
        setupRepo(rc_id,rc_length,rc_page);   
                
        // Autofocus on content (rather than <input>, which brings virtual keyboards up)
        $("#content").focus();
        
        // Hide messages by default
        hideMessages();
        
        // Update title, strip URL params by replacing state
        f.pushState({
            app: {
                content: resourceName,
                in_url: false
            },
            ref_state: {
                content: curr_state,
                in_url: false
            }
        }, appName, true);
        myRG.jq.body.attr("data-app",resourceName);
        ga('send', 'pageview');
    
        
        
    })();
</script>