<style>
    #content {
    }
    
    .messages {
        font-size: 0.8em;
        border: 1px solid;
        padding: 1rem;
        margin: 0.5rem;
    }
    
    #neg-message {
        background: #ffbaba;
        color: #d8000c;
    }
    
    #pos-message {
        background: #dff2bf;
        color: #4f8a10;
    }
    
    .row .col.right {
        text-align: right;
    }
    
    
    #app-container {
        text-align: left;
        
        display: inline-block;
        vertical-align: middle;
        
        width: 100%;
        max-width: 30rem;
        
        color: #fff;
        
        font-size: 1.2rem;
    }
    
    #app-container .container {
        padding: 1rem;
    }
    
    #app-container .container .row {
        padding: 0.5rem;
    }
    
    #app-container .container .col {
        vertical-align: middle;
    }
    
    #app-container .container .left.col {
        width: 10rem;
        font-weight: 500;
    }
    
    #app-container input,
    #app-container button {
        border: 0;
        background: #fff;
        color: #000;
        padding: 0.3rem;
        
        width: 100%;
    }
      
    
    #links {
        color: rgba(0,0,0,0.5);
        margin: 1rem;
    }
    
    #links a {
        color: inherit;
        text-decoration: none;
    }
    
    
    html.large #content:before {
        content: '';
        display: inline-block;
        height: 90%;
        vertical-align: middle;
    }
</style>
<div id="content" tabindex="0">
    <div id="hero">
        <div class="blocks" style="width: auto;">
            <h1>File Repositories</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 1.5rem;">
    </div>
     <div id="app-container">
        <div class="container bg-rg-dark-blue" >
            <div id="message-container">
                <div class="messages" id="neg-message"></div>
                <div class="messages" id="pos-message"></div>
            </div>
            <form id="create-form" method="post">
                <div class="row">
                    <div class="left col">
                        <label for="id_name">Name</label>
                    </div>
                    <div class="col">
                        <input id="id_name" type="text" name="name" placeholder="Name">
                    </div>
                </div>
                <div class="row">
                    <div class="left col">
                        <label for="id_file">File</label>
                    </div>
                    <div class="col">
                        <input id="id_file" type="file" name="file" placeholder="File">
                    </div>
                </div>
                <div class="row">
                    <div class="left col">
                        <label for="id_container">Container</label>
                    </div>
                    <div class="col">
                        <input id="id_container" type="text" name="container" placeholder="Container">
                    </div>
                </div>
                <div class="row">
                    <div class="right col">
                        <input id="create" class="bg-rg-dark-green mobile-width-100" type="submit" value="Create">
                    </div>
                </div>
            </form>
            
        </div>
    </div>  
    <div class="row" style="margin-top: 1.5rem;">
            <div class="col" id="rfl-detail" style="background: #fff; padding: 1.6rem; font-size: 1.2em;">
            </div>
    </div>
    <div class="row" id="links">
        <div class="col"><a href="http://www.robogals.org"><i class="fa fa-reply"></i> Return to robogals.org</a></div>
    </div>
</div>
<script>
    (function(){
        var resourceName = "repo-files";
        var appName = "repo-files";
    
        var a = myRG.appStore;
        var f = myRG.functions;
        var u = myRG.userStore;
        var jq = myRG.jq;
        var i = 0;
       
        
        // Grab jQuery objects from DOM elements
        jq.rfldetail = $("#rfl-detail")
        
        var curr_state = f.fetchStateData();
        
        // Set body style classes
        a.set("BODY_CLASS", 
            [
                "header-enabled",
                "menu-enabled",
                "stage-enabled"
            ]);
        
        // Common elem
        var el = a.set("JQELEM",{});
		el.name = $("#id_name");
        el.file = $("#id_file");
        el.container = $("#id_container");
        
        function hideMessages() {
            $(".messages").hide();
        }
        
        function showMessage(html, type) {
            hideMessages();
            $("#"+type+"-message").html(html).show();
        }
        
        //API
        f.fetchMyRFL = function(){
        	var api_data_rfl = {
                    	"pagination": 
                    		{
    							"length": 10,
    							"page": 0
  							},
  						"query": 
  							[
    							{
      							"field": "container"
    							},
    							{
      							"field": "name"
    							},
    							{
      							"field": "file"
    							}
  							]
                		}
            return f.fetchAPI("/api/1.0/repofiles/list",api_data_rfl,"POST",true);
    	}
    	
    	f.fetchCreateMyRF = function(api_data){
            return f.fetchAPI("/api/1.0/repofiles/create",api_data,"POST",true);
    	}
    	
    
        
        var rfl = f.fetchMyRFL();
        
        rfl 
            .always(function(){
                //clearTimeout(initLoadMessageTimer);
            })
            
            .done(function(rflistdata){
                for (i = 0; i < rflistdata.meta.size; i++) { 
                
                	jq.rfldetail.append(
    						i+1 
    						+ ". <a href='"+rflistdata.rfl[i].data.file+"'>" 
    						+ rflistdata.rfl[i].data.name 
    						+ "<a> in " 
    						+ rflistdata.rfl[i].data.container
    						+ "</br> file address: "
    						+ rflistdata.rfl[i].data.file
    						+ "</br></br>"
    						);
				} 
				//jq.rfldetail.append(JSON.stringify(author));
				
            })

        
        // Create form
        $("#create-form").submit(function(e){
            e.preventDefault();
            
            f.setTray("Loading...","indeterminate",false);
            
            hideMessages();
            
            var api_data_createRF = {
  				"rf": [
    				{
      				"data": {
        				"name": el.name.val(),
        				"file": el.file.val(),
        				"container": el.container.val()
      						},
      				"nonce": "1"
    				}
  				]
			}			
             jq.rfldetail.append(JSON.stringify(api_data_createRF));               
            var api_rfCreate = f.fetchCreateMyRF(api_data_createRF);
            
            api_rfCreate
                .done(function(){
                    //f.loadApp("repo");
                    f.closeTray();
                    showMessage("File Repository created successfully","pos");
                    
                    
                })
                .fail(function(xhr){
                    f.closeTray();
                    showMessage("File Repository created failed.<br><br>Please try again.","neg");
                });
                
            
            
        });
        
        // Autofocus on content (rather than <input>, which brings virtual keyboards up)
        $("#content").focus();
        
        // Hide messages by default
        hideMessages();
        
        // Update title, strip URL params by replacing state
        f.pushState({
            app: {
                content: resourceName,
                in_url: false
            },
            ref_state: {
                content: curr_state,
                in_url: false
            }
        }, appName, true);
        myRG.jq.body.attr("data-app",resourceName);
        ga('send', 'pageview');
    
        
        
    })();
</script>