<style>
    #content {
    }
    
    .messages {
        font-size: 0.8em;
        border: 1px solid;
        padding: 1rem;
        margin: 0.5rem;
    }
    
    #neg-message {
        background: #ffbaba;
        color: #d8000c;
    }
    
    #pos-message {
        background: #dff2bf;
        color: #4f8a10;
    }
    
    .row .col.right {
        text-align: right;
    }
    
    
    #app-container {
        text-align: left;
        
        display: inline-block;
        vertical-align: middle;
        
        width: 100%;
        max-width: 30rem;
        
        color: #fff;
        
        font-size: 1.2rem;
    }
    
    #app-container .container {
        padding: 1rem;
    }
    
    #app-container .container .row {
        padding: 0.5rem;
    }
    
    #app-container .container .col {
        vertical-align: middle;
    }
    
    #app-container .container .left.col {
        width: 10rem;
        font-weight: 500;
    }
    
    #app-container select,
    #app-container input,
    #app-container button {
        border: 0;
        background: #fff;
        color: #000;
        padding: 0.3rem;
        
        width: 100%;
    }
      
    
    #links {
        color: rgba(0,0,0,0.5);
        margin: 1rem;
    }
    
    #links a {
        color: inherit;
        text-decoration: none;
    }
    
    
    html.large #content:before {
        content: '';
        display: inline-block;
        height: 90%;
        vertical-align: middle;
    }
</style>
<div id="content" tabindex="0">
    <div id="hero">
        <div class="blocks" style="width: auto;">
            <h1>Repositories</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 1.5rem;">
    </div>
     <div id="app-container">
        <div class="container bg-rg-dark-blue" >
            <div id="message-container">
                <div class="messages" id="neg-message"></div>
                <div class="messages" id="pos-message"></div>
            </div>
            <form id="create-form" method="post">
                <div class="row">
                    <div class="left col">
                        <label for="id_title">Title</label>
                    </div>
                    <div class="col">
                        <input id="id_title" type="text" name="title" placeholder="Title">
                    </div>
                </div>
                <div class="row">
                    <div class="left col">
                        <label for="id_body">Body</label>
                    </div>
                    <div class="col">
                        <input id="id_body" type="text" name="body" placeholder="Body">
                    </div>
                </div>
                <div class="row">
                    <div class="left col">
                        <label for="id_tags">Tags</label>
                    </div>
                    <div class="col">
                        <input id="id_tags" type="text" name="tags" placeholder="Tags">
                    </div>
                </div>
                <div class="row">
                    <div class="left col">
                        <label for="id_service">Service</label>
                    </div>
                    <div class="col">
                    	<select id="id_service" name="service">
  							<option value="0">Private</option>
  							<option value="10">Managers of your Robogals chapter</option>
  							<option value="20">Everyone in your Robogals chapter</option>
  							<option value="50">All Robogals chapters</option>
  							<option value="99">Public</option>
						</select>
                    </div>
                </div>
                <div class="row">
                    <div class="right col">
                        <input id="create" class="bg-rg-dark-green mobile-width-100" type="submit" value="Create">
                    </div>
                </div>
            </form>
            
        </div>
    </div>  
    <div class="row" style="margin-top: 1.5rem;">
            <div class="col" id="rcl-detail" style="background: #fff; padding: 1.6rem; font-size: 1.2em;"></div>
    </div>
    <div class="row" id="links">
        <div class="col"><a href="http://localhost:3000/?app=repo-files"><i class="fa fa-reply"></i> Return to robogals.org</a></div>
    </div>
    
</div>
<script>
    (function(){
        var resourceName = "repo";
        var appName = "Repo";
    
        var a = myRG.appStore;
        var f = myRG.functions;
        var jq = myRG.jq;
       
        
        // Grab jQuery objects from DOM elements
        jq.rcldetail = $("#rcl-detail");
        
        var curr_state = f.fetchStateData();
        
        // Set body style classes
        a.set("BODY_CLASS", 
            [
                "header-enabled",
                "menu-enabled",
                "stage-enabled"
            ]);
        
        // Common elem
        var el = a.set("JQELEM",{});
		el.title = $("#id_title");
        el.body = $("#id_body");
        el.tags = $("#id_tags");
        el.service = $("#id_service");

        
        function hideMessages() {
            $(".messages").hide();
        }
        
        function showMessage(html, type) {
            hideMessages();
            $("#"+type+"-message").html(html).show();
        }
        
        //API
        f.fetchMyRCL = function(){
        	var api_data_rcl = {
                    	"pagination": 
                    		{
    							"length": 10,
    							"page": 0
  							},
  						"query": 
  							[
    							{
      							"field": "user"
    							},
    							{
      							"field": "title"
    							},
    							{
      							"field": "date_created"
    							}
  							]
                		}
            return f.fetchAPI("/api/1.0/repocontainers/list",api_data_rcl,"POST",true);
    	}
    	
    	f.fetchCreateMyRC = function(api_data){
            return f.fetchAPI("/api/1.0/repocontainers/create",api_data,"POST",true);
    	}
    	
    	f.deleteMyRC = function(api_data){
    		var del_api_data = {
                    	"id": [ 
                    			api_data
  							]
                		}
            return f.fetchAPI("/api/1.0/repocontainers/delete",del_api_data,"POST",true);
    	}
    	
    
        //call listing function and show them on the interface
        var rcl = f.fetchMyRCL();
        
        rcl 
            .always(function(){
                //clearTimeout(initLoadMessageTimer);
            })
            
            .done(function(rclistdata){
            	
                for (i = 0; i < rclistdata.meta.size; i++) { 
                	var no = i + 1;
                	$("#rcl-detail").append(
    						"<div class='info_rcl'>"
    						+ no 
    						+ ". <a class='rfl_link' href='1'>"//repo-files/"+rclistdata.rcl[i].id+"'>" 
    						+ rclistdata.rcl[i].data.title +"</a>"
    						+ "</a> by " 
    						+ rclistdata.rcl[i].user[0].username
    						+ "</br> date created: "
    						+ rclistdata.rcl[i].data.date_created
    						//+ "</br><input type='submit' value='Edit'>"
    						//+ "<input type='submit' value='Delete'>"
    						+ "</br> <a href='"+rclistdata.rcl[i].id+"'>edit<a> "
    						+ "| <a href='"+rclistdata.rcl[i].id+"'>delete<a> "
    						+ "</div></br>"
    						);
				} 
				//f.deleteMyRC(rclistdata.rcl[i].id)"+f.gotoApp('repo-files',true)+"
				
            })
        
        $('div.info_rcl a').click(function(){
            //e.preventDefault();
            alert($(this).attr('href'));
            //f.setTray("Loading...","indeterminate",false);
            //var txt = $(e.target).text();
  			//console.log(txt);
  			//jq.rcldetail.append(txt);
  			f.loadApp("repo-files");
        });
        
        $('.info_rcl a').click(function(){
            //e.preventDefault();
            alert($(this).attr('href'));
            //f.setTray("Loading...","indeterminate",false);
            //var txt = $(e.target).text();
  			//console.log(txt);
  			//jq.rcldetail.append(txt);
  			f.loadApp("repo-files");
        });
        
        
        $('.rfl_link').click(function(){
    		alert($(this).attr('href'));
    		// or alert($(this).hash();
    		f.loadApp("repo-files");
  		});

        
        // Create form
        $("#create-form").submit(function(e){
            e.preventDefault();
            
            f.setTray("Loading...","indeterminate",false);
            
            hideMessages();
            
            var api_data_createRC = {
  				"rc": [
    				{
      				"data": {
        				"user": "765ae9d3d56f48dc89621fb9628cdacc",
        				"role": "711f64eda76e458a970c7ef7d6d87cad",
        				"title": el.title.val(),
        				"body": el.body.val(),
        				"tags": el.tags.val(),
        				"service": el.service.find(":selected").attr('value')
      						},
      				"nonce": "1"
    				}
  				]
			}			
            //jq.rcldetail.append(JSON.stringify(api_data_createRC));               
            var api_rcCreate = f.fetchCreateMyRC(api_data_createRC);
            
            api_rcCreate
                .done(function(){
                    //f.loadApp("repo");
                    f.closeTray();
                    showMessage("Repository Container created successfully","pos");
                    
                    
                })
                .fail(function(xhr){
                    f.closeTray();
                    showMessage("Repository Container created failed.<br><br>Please try again.","neg");
                });
                
            
            
        });

		
        
        // Autofocus on content (rather than <input>, which brings virtual keyboards up)
        $("#content").focus();
        
        // Hide messages by default
        hideMessages();
        
        // Update title, strip URL params by replacing state
        f.pushState({
            app: {
                content: resourceName,
                in_url: false
            },
            ref_state: {
                content: curr_state,
                in_url: false
            }
        }, appName, true);
        myRG.jq.body.attr("data-app",resourceName);
        ga('send', 'pageview');
    
        
        
    })();
</script>