<style>
    #content {
    }
    
    .messages {
        font-size: 0.8em;
        border: 1px solid;
        padding: 1rem;
        margin: 0.5rem;
    }
    
    #neg-message {
        background: #ffbaba;
        color: #d8000c;
    }
    
    #pos-message {
        background: #dff2bf;
        color: #4f8a10;
    }
    
    .row .col.right {
        text-align: right;
    }
    
    
    #app-container {
        text-align: left;
        
        display: inline-block;
        vertical-align: middle;
        
        width: 100%;
        max-width: 30rem;
        
        color: #fff;
        
        font-size: 1.2rem;
    }
    
    #app-container .container {
        padding: 1rem;
    }
    
    #app-container .container .row {
        padding: 0.5rem;
    }
    
    #app-container .container .col {
        vertical-align: middle;
    }
    
    #app-container .container .left.col {
        width: 10rem;
        font-weight: 500;
    }
    
    #app-container input,
    #app-container button {
        border: 0;
        background: #fff;
        color: #000;
        padding: 0.3rem;
        
        width: 100%;
    }
      
    
    #links {
        color: rgba(0,0,0,0.5);
        margin: 1rem;
    }
    
    #links a {
        color: inherit;
        text-decoration: none;
    }
    
    
    html.large #content:before {
        content: '';
        display: inline-block;
        height: 90%;
        vertical-align: middle;
    }
</style>
<div id="content" tabindex="0">
    <div id="app-container">
        <div id="hero">
            <div class="blocks" style="width: auto;">
                <h1>Repositories</h1>
            </div>
        </div>
        <div class="row" style="margin-top: 1.5rem;">
        </div>
        
        <div class="container bg-rg-dark-blue" >
            <div id="message-container">
                <div class="messages" id="neg-message"></div>
                <div class="messages" id="pos-message"></div>
            </div>
            <form id="create-form" method="post">
                <div class="row">
                    <div class="left col">
                        <label for="id_title">Title</label>
                    </div>
                    <div class="col">
                        <input id="id_title" type="text" name="title" placeholder="Title">
                    </div>
                </div>
                <div class="row">
                    <div class="left col">
                        <label for="id_body">Body</label>
                    </div>
                    <div class="col">
                        <input id="id_body" type="text" name="body" placeholder="Body">
                    </div>
                </div>
                <div class="row">
                    <div class="left col">
                        <label for="id_tags">Tags</label>
                    </div>
                    <div class="col">
                        <input id="id_tags" type="text" name="tags" placeholder="Tags">
                    </div>
                </div>
                <div class="row">
                    <div class="left col">
                        <label for="id_service">Service</label>
                    </div>
                    <div class="col">
                        <input id="id_service" type="text" name="service" placeholder="Service">
                    </div>
                </div>
                <div class="row">
                    <div class="right col">
                        <input id="create" class="bg-rg-dark-green mobile-width-100" type="submit" value="Create">
                    </div>
                </div>
            </form>
            
        </div>
        
        <div class="row" style="margin-top: 1.5rem;">
            <div class="col" id="rcl-detail" style="background: #000; padding: 1.6rem; font-size: 1.25em;">
            </div>
        </div>
        
        
        
    </div>
    <div class="row" id="links">
        <div class="col"><a href="http://www.robogals.org"><i class="fa fa-reply"></i> Return to robogals.org</a></div>
    </div>
</div>
<script>
    (function(){
        var resourceName = "user";
        var appName = "User";
    
        var a = myRG.appStore;
        var f = myRG.functions;
        var u = myRG.userStore;
        var jq = myRG.jq;
        var i = 0;
       
        
        // Grab jQuery objects from DOM elements
        jq.rcldetail = $("#rcl-detail")
        
        var curr_state = f.fetchStateData();
        
        // Set body style classes
        a.set("BODY_CLASS", 
            [
                "header-enabled",
                "menu-enabled",
                "stage-enabled"
            ]);
        
        // Common elem
        var el = a.set("JQELEM",{});
		el.title = $("#id_title");
        el.body = $("#id_body");
        el.tags = $("#id_tags");
        el.service = $("id_service");

        
        function hideMessages() {
            $(".messages").hide();
        }
        
        function showMessage(html, type) {
            hideMessages();
            $("#"+type+"-message").html(html).show();
        }
        
        //API
        f.fetchMyRCL = function(){
        	var api_data_rcl = {
                    	"pagination": 
                    		{
    							"length": 10,
    							"page": 0
  							},
  						"query": 
  							[
    							{
      							"field": "username"
    							},
    							{
      							"field": "primary_email"
    							},
    							{
      							"field": "given_name"
    							}
  							]
                		}
            return f.fetchAPI("/api/1.0/users/list",api_data_rcl,"POST",true);
    	}
    	
    	f.fetchCreateMyRC = function(api_data){
            return f.fetchAPI("/api/1.0/users/create",api_data,"POST",true);
    	}
    	
    
        
        //var rcl = f.fetchMyRCL();
        a.set("RCL",f.fetchMyRCL());
        jq.rcldetail.append(JSON.stringify(a.get("RCL")));
        /*
        //rcl 
        $.when(a.get("RCL"))  
            .always(function(){
                //clearTimeout(initLoadMessageTimer);
            })
            
            .done(function(rclistdata){
                //f.rc(rclistdata);//using RCListFunctions
                //jq.repoconlist.find(".rc-list").text(rclistdata.rcl[1].data.title);
                //jq.rcldetail.append(rclistdata.meta.size);
                for (i = 0; i < rclistdata.meta.size; i++) { 
                
                	jq.rcldetail.append(
    						i+1 
    						+ ". <a href='1'>" 
    						+ rclistdata.rcl[i].data.title 
    						+ "<a> by " 
    						+ rclistdata.rcl[i].user[0].username
    						+ "</br></br>"
    						);
				} 
				//jq.rcldetail.append(JSON.stringify(author));
				
            })*/

        
        // Create form
        $("#create-form").submit(function(e){
            e.preventDefault();
            
            f.setTray("Loading...","indeterminate",false);
            
            hideMessages();
            
            var api_data_createRC = {
  				"user": [
    				{
      				"data": {
        				"username": el.title.val(),
        				"primary_email": el.body.val(),
        				"given_name": el.tags.val()
      						},
      				"nonce": "1"
    				}
  				]
			}			
             jq.rcldetail.append(JSON.stringify(api_data_createRC));               
            var api_rcCreate = f.fetchCreateMyRC(api_data_createRC);
            
            api_rcCreate
                .done(function(){
                    //f.loadApp("repo");
                    f.closeTray();
                    showMessage("Repository Container created successfully","pos");
                    
                    
                })
                .fail(function(xhr){
                    f.closeTray();
                    showMessage("Repository Container created failed.<br><br>Please try again.","neg");
                });
                
            
            
        });
        
        // Autofocus on content (rather than <input>, which brings virtual keyboards up)
        $("#content").focus();
        
        // Hide messages by default
        hideMessages();
        
        // Update title, strip URL params by replacing state
        f.pushState({
            app: {
                content: resourceName,
                in_url: false
            },
            ref_state: {
                content: curr_state,
                in_url: false
            }
        }, appName, true);
        myRG.jq.body.attr("data-app",resourceName);
        ga('send', 'pageview');
    
        
        
    })();
</script>